<body>
        <!--Cabecera-->
        <header class="header">            
            <!--Banner-->
            <div class="banner">
                <h2>Toma un descanso para tomar un café</h2><br>
                <h1>Belle Vie</h1>
                <h3>---- Cafeteria ----</h3>
                <br><br><br>
                <button>
                    EXPLORAR</button>
            </div>
        </header>
         <!--contenido-->
        <div class="contenido">