
<div class="descripcion">                       
    <aside>
        <img src="/assets/images/3.jpg">
    </aside>
    <section>
        <h2>Un lugar agradable en donde podrá disfrutar el mejor Café… </h2>
        <br><br>                    
        <h1>Cafeteria - Belle Vie </h1>
        <br>
        <p>
            Estamos viviendo en un tiempo extraordinario, pero seguimos con nuestra misión. 
            Que es servir la mejor taza de café posible en un ambiente bonito y relajado. 
            Nacimos del deseo por hacer comunidad, basada en un comercio justo y sustentable,
            cuidando cada uno de los detalles, desde el productor y el grano hasta el barista y la taza.  
            Amamos el buen café, y nos fascina lo que produce: las pláticas, las ideas, los lazos y los momentos. 
            Buscamos conectar, crear y lograr. </p>
            <br><br><button>
                
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                </svg>
                 Más información </button>
        </section>        
</div>