<div class="productos">
    <div class="produc">
        <h2>Menú</h2><br>
        <h1>Nuestros Productos</h1><br>
        <p>Aquí puedes pedir del menú completo y recoger en el café o te podemos entregar.  Dar click abajo.</p>
        <br><br>
        <button>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
        Revisar</button>
    </div>
    <br><br>
    {{getProduct}}
    <!--
    <div class="produc">
        <img src="/assets/images/4.jpg"><br><br><br>
        <figcaption> $3.50</figcaption><br><br>
        <h4>Sanduches</h4>
    </div>
    <br><br>
    <div class="produc">
        <img src="/assets/images/5.jpg"><br><br><br>
        <figcaption> $2.50</figcaption><br><br>
        <h4>Batidos</h4>
    </div>
    <br><br>
    <div class="produc">
        <img src="/assets/images/6.png"><br><br><br>
        <figcaption> $4.50</figcaption><br><br>
        <h4>Mocaccino</h4>
    </div>
    -->
</div>